<div>
    <md-content class="md-padding registration">
        <md-tabs md-selected="viewModel.selectedStep" md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="step in viewModel.steps" label="{{step.title}}">
                <md-content class="md-padding">
                    <div class="step" data-ng-include="step.templateUrl"></div>
                    
                </md-content>
            </md-tab>
            
        </md-tabs>
    </md-content>
    <div>
        <md-button class="md-raised" ng-disabled="viewModel.selectedStep==0" ng-click="viewModel.goToStep(-1)">Previous</md-button>
        <md-button class="md-raised" ng-disabled="viewModel.selectedStep==viewModel.steps.length-1" ng-click="viewModel.goToStep(1)">Next</md-button>
    </div>
</div>